@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.header-top {
    background: #000;
    height: 65px;
    display: flex;
    align-items: center;
}

* {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    outline: none;
}

body *:focus {
    outline: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #f9f9f9;
    font-size: 14px;
}

.header-bottom {
    background-color: #242424 !important;
    padding: 0;
    position: relative;
}

.header-bottom a {
    color: #dfdfdf !important;
}

.img-about-bot img {
    width: 100%;
}

.nav-pills .nav-link.active {
    background-color: #ccc !important;
}

.color-dark {
    color: #000;
    font-size: 23px;
}

.tab-menu {
    height: 100%;
    align-items: center;
}

.info > img {
    width: 25px;
    border-radius: 50%;
    height: 25px;
}

.info {
    background: #000;
    padding: 10px;
}

.info > span {
    color: #fff;
    height: 25px;
    line-height: 25px;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.center h3 {
    font-size: 17px;
    font-weight: bold;
}

.center .des {
    font-size: 12px;
}

.row-title {
    height: 46px;
    line-height: 46px;
}

.sort-completed {
    height: 100%;
}



td, th {
    vertical-align: middle;
}

.slider-box {
    width: 90%;
    margin: 25px auto
}